/*===== GLOBAL =====*/
@import url(normalize.css);
body {
  font-family: 'Roboto', sans-serif;
  color: #333; }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-size: 5rem; }

@define-mixin media-small {
  @media (min-width: 530px) {
    @mixin-content; } }

/*===== HERO =====*/
.hero {
  position: relative; }

/*Custom CSS End
==========================================
==========================================
==========================================*/
